---
http_interactions:
- request:
    method: get
    uri: https://www.forbes.com.mx/wp-json/wp/v2/posts?search=amlo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Wp-Total:
      - '1171'
      X-Wp-Totalpages:
      - '118'
      Link:
      - <https://www.forbes.com.mx/wp-json/wp/v2/posts?search=amlo&page=2>; rel="next"
      Allow:
      - GET
      X-Backend-Server:
      - forbesmx-pm-844db6f98d-6z7k5
      X-Upstream:
      - 10.47.242.55:80
    body:
      encoding: ASCII-8BIT
      string: '[{"id":560589,"date":"2019-05-01T14:29:29","date_gmt":"2019-05-01T19:29:29","guid":{"rendered":"https:\/\/www.forbes.com.mx\/?p=560589"},"modified":"2019-05-01T14:29:29","modified_gmt":"2019-05-01T19:29:29","slug":"plan-nacional-de-desarrollo-sera-ejemplo-internacional-amlo","status":"publish","type":"post","link":"https:\/\/www.forbes.com.mx\/plan-nacional-de-desarrollo-sera-ejemplo-internacional-amlo\/","title":{"rendered":"Plan
        Nacional de Desarrollo ser\u00e1 ejemplo internacional: AMLO"},"content":{"rendered":"<p><strong>Notimex.-<\/strong>
        Con la presentaci\u00f3n del Plan Nacional de Desarrollo, que fue entregado
        &#171;en tiempo y forma al Congreso de la Uni\u00f3n&#187;, estamos inaugurando
        una nueva etapa, se trata de un modelo de desarrollo que va a funcionar muy
        bien en M\u00e9xico y que va a ser un ejemplo a nivel internacional, es un
        nuevo camino, afirm\u00f3 el presidente Andr\u00e9s Manuel L\u00f3pez Obrador.<\/p>\n<p>A
        trav\u00e9s de un video difundido e[...]
