---
http_interactions:
- request:
    method: get
    uri: https://www.forbes.com.mx/wp-json/wp/v2/posts?search=amlo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Wp-Total:
      - '1175'
      X-Wp-Totalpages:
      - '118'
      Link:
      - <https://www.forbes.com.mx/wp-json/wp/v2/posts?search=amlo&page=2>; rel="next"
      Allow:
      - GET
      X-Backend-Server:
      - forbesmx-59f7c6c44-vd9wc
      X-Upstream:
      - 10.47.244.87:80
    body:
      encoding: ASCII-8BIT
      string: '[{"id":561094,"date":"2019-05-03T10:23:42","date_gmt":"2019-05-03T15:23:42","guid":{"rendered":"https:\/\/www.forbes.com.mx\/?p=561094"},"modified":"2019-05-03T10:23:42","modified_gmt":"2019-05-03T15:23:42","slug":"si-la-ip-no-se-apunta-amlo-proyecta-organismo-para-llevar-internet-a-todo-el-pais","status":"publish","type":"post","link":"https:\/\/www.forbes.com.mx\/si-la-ip-no-se-apunta-amlo-proyecta-organismo-para-llevar-internet-a-todo-el-pais\/","title":{"rendered":"Si
        la IP no se apunta, AMLO proyecta organismo para llevar internet a todo el
        pa\u00eds"},"content":{"rendered":"<p><strong>Notimex.-<\/strong> El presidente
        Andr\u00e9s Manuel L\u00f3pez Obrador inform\u00f3 que se podr\u00eda crear
        un organismo estatal para garantizar la conectividad en todo el pa\u00eds,
        en caso de que declare desierta la licitaci\u00f3n de los 50,000 kil\u00f3metros
        de la red de fibra \u00f3ptica de la Comisi\u00f3n Federal de Electricidad
        (CFE).<\/p>\n<p>\u201cSi no les importa la concesi\u00f3n (a las empresas),
        si se declara desierta la convocato[...]
